<div th:fragment="modal-editar-cliente" class="modal fade" id="modal-editar-cliente" data-bs-backdrop="static" data-bs-keyboard= "false" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Cliente</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="form-editar-cliente">

			</div>
		</div>
	</div>
</div>

<div th:fragment="editar-cliente-form">

	<form hx-post="/clientes/editar" hx-target="#result-msg" hx-swap="innerHTML">
		<input hidden name="idCliente" th:value="${cliente.idCliente}">
		<div class="row">
			<div class="col-6">
				<label for="nombreEditar">Nombre Completo: </label>
				<input oninput="this.value = this.value.toUpperCase()" th:value="${cliente.nombre}" id="nombreEditar" name="nombre" class="form-control" required>
			</div>
			<div class="col-6">
				<label for="telefonoEditar">Teléfono: </label>
				<input type="text" pattern="^[0-9]{0,10}$" th:value="${cliente.telefono}" id="telefonoEditar" name="telefono" class="form-control" required>
			</div>

		</div>
		<div class="row">
			<div class="col-6">
				<label for="telefonoEditar2">Teléfono 2 (opcional): </label>
				<input type="text" pattern="^[0-9]{0,10}$" th:value="${cliente.telefono2}" id="telefonoEditar2" name="telefono2" class="form-control">
			</div>

			<div class="col-6">
				<label for="rfcEditar">RFC: </label>
				<input oninput="this.value = this.value.toUpperCase()" pattern="[A-Za-z0-9]{0,13}" th:value="${cliente.rfc}" id="rfcEditar" name="rfc" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label for="coloniaEditar">Colonia</label>
				<Select id="coloniaEditar" name="idColonia" class="form-control" required>
					<option th:each="colonia : ${colonias}" th:value="${colonia.idColonia}" th:text="${colonia.colonia}"
						th:selected="${colonia.idColonia == cliente.Colonia.idColonia}"></option>
				</Select>
			</div>

			<div class="col-6">
				<label for="coordenadasEditar">Ubicación: </label>
				<input th:value="${cliente.coordenadas}" id="coordenadasEditar" name="coordenadas" class="form-control">
			</div>
		</div>
		<div class="row">

			<div class="col-6">
				<label for="fechaPagoEditar">Fecha de pago: </label>
				<input th:value="${#dates.format(cliente.fechaPago, 'yyyy-MM-dd')}" type="date" id="fechaPagoEditar"
					name="fecha" class="form-control" required>
			</div>
			<div class="col-6">
				<label for="idPaqueteEditar">Paquete de Internet: </label>
				<Select id="idPaqueteEditar" name="paquete" class="form-control" required>
					<option th:each="paquete : ${paquetes}" th:value="${paquete.idPaquete}"
						th:text="${ '$' + paquete.precio}"
						th:selected="${paquete.idPaquete == cliente.Paquete.idPaquete}"></option>
				</Select>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label for="estado">Estado: </label>
				<Select id="estado" name="estado" class="form-control" required>
					<option th:selected="${cliente.estado == 1}" value="1" >ACTIVO</option>
					<option th:selected="${cliente.estado == 2}" value="2">INACTIVO</option>
					<option th:selected="${cliente.estado == 3}" value="3">ESPECIAL</option>
					<option th:selected="${cliente.estado == 4}" value="4">SUSPENSIÓN</option>
				</Select>
			</div>
			<div sec:authorize="hasAnyRole('ADMINISTRADOR')" class="col-6">
				<label for="estado">Abono: </label>
				<input name="abono" th:value="${cliente.abono}" class="form-control">
			</div>
			<div sec:authorize="hasAnyRole('CAJA')" class="col-6">
				<label hidden for="estado">Abono: </label>
				<input hidden name="abono" th:value="${cliente.abono}" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<label for="observacionesEditar">Observaciones: </label>
				<textarea th:text="${cliente.observaciones}" id="observacionesEditar" name="observaciones"
					class="form-control" rows="5"></textarea>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-success">Guardar</button>
		</div>
	</form>
</div>