<div th:fragment="modal-registrar-cliente" class="modal fade" id="modal-agregar-cliente" data-bs-backdrop="static"
	data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agregar Cliente</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="form-registrar-cliente">
				<div th:fragment="registrar-cliente-form">

					<form hx-post="/clientes/registrar" hx-target="#result-msg" hx-swap="innerHTML">
						<div class="row">
							<div class="col-6">
								<label for="nombreCliente">Nombre Completo: </label>
								<input oninput="this.value = this.value.toUpperCase();validarClienteRepetido();"  type="text" id="nombreCliente"
									name="nombre" class="form-control" required>
									<div id="alerta-cliente-repetido" class="invalid-feedback">El cliente ya está registrado.</div>
							</div>
							<div class="col-6">
								<label for="telefono">Teléfono: </label>
								<input type="text" pattern="^[0-9]{0,10}$" id="telefono" name="telefono"
									class="form-control" required title="Solo se permiten hasta 10 dígitos numéricos.">
							</div>


						</div>
						<div class="row">
							<div class="col-6">
								<label for="telefono2">Teléfono 2 (opcional): </label>
								<input type="text" pattern="^[0-9]{0,10}$" id="telefono2" name="telefono2"
									class="form-control" title="Solo se permiten hasta 10 dígitos numéricos.">
							</div>

							<div class="col-6">
								<label for="rfc">RFC: </label>
								<input oninput="this.value = this.value.toUpperCase()" pattern="[A-Za-z0-9]{0,13}"
									id="rfc" name="rfc" class="form-control"
									title="Solo se permite ingresar hasta 13 caracteres alfanumericos">
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="colonia">Colonia</label>
								<Select id="colonia" name="idColonia" class="form-control" required>
									<option th:each="colonia : ${colonias}" th:value="${colonia.idColonia}"
										th:text="${colonia.colonia}"></option>
								</Select>
							</div>

							<div class="col-6">
								<label for="coordenadas">Ubicación: </label>
								<input id="coordenadas" name="coordenadas" class="form-control">
							</div>
						</div>
						<div class="row">

							<div class="col-6">
								<label for="telefono">Fecha A Pagar: </label>
								<input onchange="validarfecha();" type="date" id="fechaPago" name="fecha"
									class="form-control" required>
							</div>
							<div class="col-6">
								<label for="idPaquete">Paquete de Internet: </label>
								<Select id="idPaquete" name="paquete" class="form-control" required>
									<option th:each="paquete : ${paquetes}" th:value="${paquete.idPaquete}"
										th:text="${ '$' + paquete.precio}"></option>
								</Select>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="estado">Estado: </label>
								<Select id="estado" name="estado" class="form-control" required>
									<option selected value="1">ACTIVO</option>
									<option value="2">INACTIVO</option>
									<option value="3">ESPECIAL</option>
									<option value="4">SUSPENSIÓN</option>
								</Select>
							</div>
							<div class="col-6">
								<label for="estado">Abono: </label>
								<input name="abono" type="number" class="form-control">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<label for="observaciones">Observaciones: </label>
								<textarea id="observaciones" name="observaciones" class="form-control"
									rows="5"></textarea>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
							<button disabled id="botonRegistrarCliente" type="submit" class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>