<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="~{fragments/layout :: estilos}"></div>
</head>

<body>
    <div th:replace="~{fragments/layout :: nav}"></div>
    <br>
    <div class="container-xxl card">
        <div class="row">
            <div class="col-6">
                <h3 class="text-center">Datos de la empresa</h3>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label" for="nombreCliente">Nombre: </label>
                        <input class="form-control" disabled value="Nombre de la empresa">
                    </div>
                    <div class="col-6">
                        <label class="col-form-label" for="nombreCliente">RFC: </label>
                        <input class="form-control" disabled value="FJELDSUYWMVOPED">
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label" for="nombreCliente">Teléfono: </label>
                        <input class="form-control" disabled value="6161071750">
                    </div>
                    <div class="col-6">
                        <label class="col-form-label" for="nombreCliente">Correo: </label>
                        <input class="form-control" disabled value="empresaanonima@gmail.com">
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <label class="col-form-label" for="nombreCliente">Dirección: </label>
                        <input class="form-control" disabled value="Aqui debe ir la dirección de la empresa">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h3 class="text-center">Facturar</h3>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button">Subtotal</button>
                        </div>
                        <span type="text" class="form-control" placeholder="" aria-label=""
                            aria-describedby="basic-addon1">$2000</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-primary" type="button">IVA 8%</button>
                        </div>
                        <span type="text" class="form-control" placeholder="" aria-label=""
                            aria-describedby="basic-addon1">$2000</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-warning" type="button">ISR 1.5%</button>
                        </div>
                        <span type="text" class="form-control" placeholder="" aria-label=""
                            aria-describedby="basic-addon1">$2000</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-success" type="button">Total</button>
                        </div>
                        <span type="text" class="form-control" placeholder="" aria-label=""
                            aria-describedby="basic-addon1">$2000</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container-xl text-center">
        <div class="row">
            <div class="col-6">

                <h2 class="text-center ">Hoja de servicios</h2>
            </div>
            <div class="col-3">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar
                    Servicio</button>
            </div>
            <div class="col-3">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Finalizar</button>
            </div>
        </div>
        <br>
        <div class="row border-bottom border-secondary">
            <div class="col-1">
                <label class="col-form-label" for="nombreCliente">Num. </label>
            </div>
            <div class="col-2">
                <label class="col-form-label" for="nombreCliente">Fecha </label>
            </div>
            <div class="col-1">
                <label class="col-form-label" for="nombreCliente">Cantidad </label>
            </div>
            <div class="col-2">
                <label class="col-form-label" for="nombreCliente">Descripción</label>
            </div>
            <div class="col-2">
                <label class="col-form-label" for="nombreCliente">Atención </label>
            </div>
            <div class="col-1">
                <label class="col-form-label" for="nombreCliente">Precio unitario </label>
            </div>
            <div class="col-1">
                <label class="col-form-label" for="nombreCliente">Precio</label>
            </div>
            <div class="col-2">
                <label class="col-form-label" for="nombreCliente">opciones</label>
            </div>
        </div>
        <div class="row border-bottom border-secondary">
            <div class="col-1 elementos-hojas">
                <span>1</span>
            </div>
            <div class="col-2 elementos-hojas">
                <input type="date" id="fechaPago" name="fecha" class="form-control" required>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">3 </label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Descripción del servicio realizado a la
                    empresa</label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Atención </label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-2 elementos-hojas">
                <button class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </button>
                <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="row border-bottom border-secondary">
            <div class="col-1 elementos-hojas">
                <span>1</span>
            </div>
            <div class="col-2 elementos-hojas">
                <input type="date" id="fechaPago" name="fecha" class="form-control" required>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">3 </label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Descripción del servicio realizado a la
                    empresa</label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Atención </label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-2 elementos-hojas">
                <button class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </button>
                <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="row border-bottom border-secondary">
            <div class="col-1 elementos-hojas">
                <span>1</span>
            </div>
            <div class="col-2 elementos-hojas">
                <input type="date" id="fechaPago" name="fecha" class="form-control" required>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">3 </label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Descripción del servicio realizado a la
                    empresa</label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Atención </label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-2 elementos-hojas">
                <button class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </button>
                <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="row border-bottom border-secondary">
            <div class="col-1 elementos-hojas">
                <span>1</span>
            </div>
            <div class="col-2 elementos-hojas">
                <input type="date" id="fechaPago" name="fecha" class="form-control" required>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">3 </label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Descripción del servicio realizado a la
                    empresa</label>
            </div>
            <div class="col-2 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">Atención </label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-1 elementos-hojas">
                <label class="col-form-label" for="nombreCliente">$500</label>
            </div>
            <div class="col-2 elementos-hojas">
                <button class="btn btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>
                </button>
                <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                </button>
            </div>
        </div>
        <br><br>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-form-label" for="nombreCliente">Descripción: </label>
                            <textarea class="form-control" value="Nombre de la empresa"></textarea>
                        </div>
                        <div class="col-6">
                            <p>Aquí van las recomendaciones</p>
                            <div class="row">
                                <div class="input-group mb-3">
                                    <span type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">Este es un servicio recomentado Este es un servicio recomendado</span>
                                    <button class="btn btn-outline-success" type="button" id="button-addon2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="input-group mb-3">
                                    <span type="text" class="form-control" placeholder="Recipient's username"
                                        aria-label="Recipient's username" aria-describedby="button-addon2">Este es un servicio recomentado Este es un servicio recomendado</span>
                                    <button class="btn btn-outline-success" type="button" id="button-addon2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                                        </svg>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="col-form-label" for="nombreCliente">Fecha: </label>
                            <input type="date" class="form-control" value="">
                        </div>
                        <div class="col-6">
                            <label class="col-form-label" for="nombreCliente">Atención: </label>
                            <select class="form-control" name="" id="">
                                <option value="1">-- seleccione --</option>
                                <option value="1">Acude</option>
                                <option value="1">Visita</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label" for="nombreCliente">Cantidad: </label>
                            <input type="number" class="form-control" value="">
                        </div>
                        <div class="col-4">
                            <label class="col-form-label" for="nombreCliente">Precio Unitario: </label>
                            <input type="number" class="form-control" value="">
                        </div>
                        <div class="col-4">
                            <label class="col-form-label" for="nombreCliente">Precio: </label>
                            <input disabled type="number" class="form-control" value="">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
                    <button type="button" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>