<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<div th:replace="~{fragments/layout :: estilos}"></div>
	<link rel="stylesheet" href="/css/pagos.css">
</head>

<body>
	<div th:replace="~{fragments/layout :: nav}"></div>

	<div id="result-msg"></div>
	<main>
		<div class="container-sm">
			<div class="container-lg d-flex mt-1 client-option">
				<div>
					<h2>Pagos</h2>
					<div class="col-6">
						Año
						<select onchange="numRegistros();" name="" id="num-registros">
							<option selected value="2022">2022</option>
							<option selected value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
							<option value="2026">2026</option>
							<option value="2027">2027</option>
						</select>
					</div>
				</div>
				<div>

				</div>
			</div>
			<br><br>
			<div hx-target="#meses-container" hx-swap="innerHTML" hx-trigger="refresh from:body"
				hx-include="[name='idCliente']" hx-get="/clientes/refrescar-meses">

			</div>

			<form hx-post="/clientes/realizar-pago-masivo" hx-target="#result-msg" hx-swap="innerHTML">
				<button type="submit" class="btn btn-success">
					Pagar
				</button>
				<input hidden name="idCliente" th:value="${idCliente}">

				<br><br>

				<div th:fragment="lista-meses" class="row" id="meses-container">
					<div th:each="mes : ${meses}" class="col-md-3 col-6">
						<div th:if="${mes.fecha != mesPago}">
							<input th:attr="name=${mesesPagados.contains(mes.fecha) ? 'pagado' : 'meses'}"
								th:checked="${mesesPagados.contains(mes.fecha) ? 'checked' : null}"
								th:value="${mes.fecha}" type="checkbox" class="btn-check" th:id="${mes.nombresMes}"
								autocomplete="off">
							<label th:text="${mes.nombresMes}" class="btn btn-outline-success custom-column"
								th:for="${mes.nombresMes}">Febrero</label>
						</div>
						<div th:if="${mes.fecha == mesPago}">
							<input th:attr="name=${mesesPagados.contains(mes.fecha) ? 'pagado' : 'meses'}"
								th:checked="${mesesPagados.contains(mes.fecha) ? 'checked' : null}"
								th:value="${mes.fecha}" type="checkbox" class="btn-check" th:id="${mes.nombresMes}"
								autocomplete="off">
							<label th:text="${mes.nombresMes}" class="btn btn-outline-primary custom-column"
								th:for="${mes.nombresMes}">Febrero</label>
						</div>
					</div>
				</div>
			</form>

		</div>



	</main>

</body>

<div th:replace="~{fragments/layout :: scripts}"></div>

</html>