<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<div th:replace="~{fragments/layout :: estilos}"></div>
	<link rel="stylesheet" href="/css/pagos.css">
</head>

<body>
	<div th:replace="~{fragments/layout :: nav}"></div>

	<div id="result-msg"></div>
	<main>
		<div class="container-sm">
			<div>

			</div>
			<div class="container-lg d-flex client-info">

				<div>
					<h2>Pagos</h2>
					<div class="col-6 filtro-anios">
						<form name="formAnio" hx-get="/clientes/pagos-meses-filtro" hx-target="#meses-container"
							hx-swap="innerHTML" class="filtro-anios">
							<input hidden name="id" th:value="${idCliente}">
							<label>Año</label>
							<input type="number" min="2017" max="2100" th:value="${anio}" class="form-control"
								name="anio">
							<button type="submit" class="btn btn-success">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-search" viewBox="0 0 16 16">
									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
								</svg>
							</button>
						</form>
					</div>

				</div>
				<div>
					<h2 th:text="${cliente.nombre}"></h2>
					<h3>Paquete: $ <span id="precioPaquete" th:text="${cliente.Paquete.precio}"></span></h2>
						<h4>Colonia: <span th:text="${cliente.Colonia.colonia}"></span>
					</h3>
				</div>
			</div>
			<div hx-target="#meses-container" hx-swap="innerHTML" hx-trigger="refresh from:body"
				hx-include="[name='refresh']" hx-get="/clientes/refrescar-meses">

			</div>
			<br>
			<button sec:authorize="hasAnyRole('ADMINISTRADOR')" type="button" data-bs-toggle="modal"
				data-bs-target="#modal-eliminar-pago" class="btn btn-danger float-end"
				hx-get="/clientes/get-meses-pagados" hx-target="#body-cancelar-pago" hx-swap="innerHTML"
				hx-include="[name='formAnio']">
				Cancelar pago
			</button>

			<div th:fragment="lista-meses" id="meses-container">
				<input hidden id="fechaPagoCliente" type="date" th:value="${mesPago}">
				<div class="row">
					<div class="col-6">
						<h3 class="col-6">Abono: $<span id="cantidadAbono" th:text="${cliente.abono} + '0'"></span></h3>
					</div>
				</div>

				<form name="refresh">
					<input name="idRefresh" th:value="${idCliente}" hidden>
					<input name="anioRefresh" th:value="${anio}" hidden>
				</form>
				<button th:disabled="${cliente.estado == false}" type="button" data-bs-toggle="modal"
					data-bs-target="#modal-abono-cliente" class="btn btn-success">
					Abono
				</button>
				<br>
				<form hx-post="/clientes/realizar-pago-masivo" hx-target="#result-msg" hx-swap="innerHTML"
					hx-confirm="¿Seguro?">
					<br>
					<button th:disabled="${cliente.estado == false}" type="button" onclick="pagarMeses();"
						class="btn btn-success">
						Pagar
					</button>

					<span id="alerta-pagar-mes" style="color: red; margin:0;padding: 0;visibility: 
					hidden;">Seleccione un mes a pagar</span>
					<input hidden name="idCliente" th:value="${idCliente}">

					<br><br>

					<div class="row">
						<div th:each="mes : ${meses}" class="col-md-3 col-6">
							<div th:if="${mes.fecha != mesPago}">
								<input
									th:attr="name=${mesesPagados.contains(mes.fecha) ? 'pagado' : 'meses'},disabled=${mesesPagados.contains(mes.fecha) ? 'disabled' : null}"
									th:checked="${mesesPagados.contains(mes.fecha) ? 'checked' : null}"
									th:value="${mes.fecha}" type="checkbox" class="btn-check" th:id="${mes.nombresMes}"
									autocomplete="off">
								<label class="btn btn-outline-success custom-column" th:for="${mes.nombresMes}">
									<div th:text="${mes.nombresMes}">Enero</div>
									<div th:text="${#dates.format(mes.fecha, 'dd-MM-yyyy')}">04/44/2444</div>
								</label>
							</div>
							<div th:if="${mes.fecha == mesPago}">
								<input th:attr="name=${mesesPagados.contains(mes.fecha) ? 'pagado' : 'meses'}"
									th:checked="${mesesPagados.contains(mes.fecha) ? 'checked' : null}"
									th:value="${mes.fecha}" type="checkbox" class="btn-check" th:id="${mes.nombresMes}"
									autocomplete="off">
								<label class="btn btn-outline-primary custom-column" th:for="${mes.nombresMes}">
									<div th:text="${mes.nombresMes}">Enero</div>
									<div th:text="${#dates.format(mes.fecha, 'dd-MM-yyyy')}">04/44/2444</div>
								</label>
							</div>
						</div>
					</div>

					<!-- MODAL DE CONFIRMACIÓN -->

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Confirmar Pago</h5>
									<button onclick="resetFormPagoMasivo();" type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="container">
									<div class="row">
										<div class="col-6">
											<p class="fw-bold">Tipo de pago:</p>
											<select id="tipoPagoMasivo" required name="tipoPago" class="form-control">
												<option value="" disabled selected>-- Seleccione --</option>
												<option value="1">EFECTIVO</option>
												<option value="2">TRANSFERENCIA</option>
											</select>
										</div>
									</div>
								</div>
								<div id="confirmarMeses" class="modal-body">

								</div>
								<br>
								<div class="modal-footer">
									<button onclick="resetFormPagoMasivo();" type="button" class="btn btn-danger"
										data-bs-dismiss="modal">Cancelar</button>
									<button type="submit" class="btn btn-success"
										>Confirmar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- FIN MODAL DE CONFIRMACIÓN -->

				</form>
			</div>
		</div>
	</main>
	<!--FIN MODAL EDITAR CLIENTE -->

	<div th:replace="~{fragments/clientes/cancelar-pagos :: modal-eliminar-pago}"></div>

	<div th:replace="~{fragments/clientes/abono-cliente :: modal-abono-cliente}"></div>

	<!-- MODAL PARA CONFIRMAR PAGO  -->
</body>

<div th:replace="~{fragments/layout :: scripts}"></div>
<script th:src="@{/js/clientes/cliente-pagos.js}"></script>

</html>