<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<div th:replace="~{fragments/layout :: estilos}"></div>
</head>

<body>
	<div th:replace="~{fragments/layout :: nav}"></div>
	<div id="result-msg"></div>
	
	<input id="idUser" value="0" name="id" hidden>	
	<button hidden id="consultarCliente" data-bs-toggle="modal" data-bs-target="#modal-consultar-cliente"
		hx-get="/clientes/get-consulta-cliente" hx-target="#form-consultar-cliente" hx-swap="innerHTML"
		hx-include="[name='id']"
		>
	</button>
	
	<button hidden id="editarCliente" data-bs-toggle="modal" data-bs-target="#modal-editar-cliente"
		hx-get="/clientes/get-editar-cliente" hx-target="#form-editar-cliente" hx-swap="innerHTML"
		hx-include="[name='id']"
		>
	</button>

	<main>
		<div class="container-lg d-flex mt-1 client-option">
			<di>
				<h2>Clientes</h2>
				<br>
				<span>Buscar: </span><input type="text" id="filtroNombre" placeholder="Filtrar por nombre">
				Número de registros
				<select onchange="numRegistros();" name="" id="num-registros">
					<option selected value="2">2</option>
					<option selected value="5">5</option>
					<option value="10">10</option>
					<option value="20">20</option>
				</select>
			</di>
			<div>
				<button data-bs-toggle="modal" data-bs-target="#modal-agregar-cliente" type="button"
					class="btn btn-success" hx-get="/clientes/get-form-registrar" hx-target="#form-registrar-cliente"
					hx-swap="innerHTML">
					Registrar
				</button>
			</div>
		</div>
		<br>
		<div class="container">

			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col">Estado</th>
						<th scope="col">Nombre</th>
						<th scope="col">Telefono</th>
						<th scope="col">Paquete</th>
						<th scope="col">Fecha de pago</th>
						<th scope="col">Ultimo pago</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody id="tablaClientes">

				</tbody>
			</table>
			<div class="container text-center">
				<span class="result-registros" id="result-registros">No se econtraron registros</span>
			</div>
			<ul class="pagination" id="paginacion">
			</ul>
		</div>

	</main>

	<!-- MODAL REGISTRAR CLIENTE -->
	<div th:replace="~{fragments/clientes/registro-cliente :: modal-registrar-cliente}"></div>

	<!-- MODAL COSULTAR CLIENTE -->
	<div th:replace="~{fragments/clientes/consultar-cliente :: modal-consultar-cliente}"></div>


	<!--FIN MODAL EDITAR CLIENTE -->
	
	<div th:replace="~{fragments/clientes/editar-cliente :: modal-editar-cliente}"></div>

	<!-- MODAL PARA CONFIRMAR PAGO  -->
	<div class="modal fade" id="modal-confirmar-pago" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmar Pago</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					¿Confirmar pago?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-success" id="confirmarEliminar">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- MODAL PARA CONFIRMAR PAGO -->

	<div th:replace="~{fragments/layout :: scripts}"></div>
	<script th:src="@{/js/clientes/clientes.js}"></script>
</body>

</html>