<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/select2/css/select2.min.css">
	<div th:replace="~{fragments/layout :: estilos}"></div>


</head>

<body>
	<div th:replace="~{fragments/layout :: nav}"></div>
	<div id="result-msg"></div>

	<input id="idUser" value="0" name="id" hidden>
	<button hidden id="consultarCliente" data-bs-toggle="modal" data-bs-target="#modal-consultar-cliente"
		hx-get="/clientes/get-consulta-cliente" hx-target="#form-consultar-cliente" hx-swap="innerHTML"
		hx-include="[name='id']">
	</button>

	<button hidden id="editarCliente" data-bs-toggle="modal" data-bs-target="#modal-editar-cliente"
		hx-get="/clientes/get-editar-cliente" hx-target="#form-editar-cliente" hx-swap="innerHTML"
		hx-include="[name='id']">
	</button>

	<div hx-target="#col" hx-swap="innerHTML" hx-trigger="refreshCol from:body" hx-get="/clientes/refrescar-colonias">
	</div>

	<main>
		<div class="container-lg d-flex mt-1 client-option">
			<div class="filtro">
				<h2>Clientes</h2>
				<h3>Total de clientes: <span id="totalClientes">0</span></h3>
			</div>
			<div>
				<a href="/clientes/reporte" target="_blank" class="btn btn-success">
					Reporte Clientes
				</a>
				<button data-bs-toggle="modal" data-bs-target="#modal-agregar-cliente" type="button"
					class="btn btn-success" hx-get="/clientes/get-form-registrar" hx-target="#form-registrar-cliente"
					hx-swap="innerHTML">
					Registrar Cliente
				</button>
				<button data-bs-toggle="modal" data-bs-target="#modal-agregar-colonia" type="button"
					class="btn btn-warning">
					Registrar Colonia
				</button>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row filtros">
				<div class="col-6">
					<span>Buscar: </span><input type="text" id="filtroNombre" class="form-control"
						placeholder="Filtrar por nombre" oninput="this.value = this.value.toUpperCase()">
				</div>


				<div class="col-4 filtro-colonia">
					Colonia:
					<div th:fragment="select-colonias" id="col">
						<select class="form-control js-example-basic-single" onchange="colonias();" name=""
							id="colonia-filtro">
							<option value="" selected>TODAS</option>

							<option th:each="colonia : ${colonias}" th:value="${colonia.idColonia}"
								th:text="${colonia.colonia}"></option>

						</select>
					</div>
				</div>

				<div class="col-2">
					Número de registros
					<select class="form-control" onchange="numRegistros();" name="" id="num-registros">
						<option selected value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
					</select>
				</div>

			</div>
			<br>
			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col">Estado</th>
						<th scope="col">Nombre</th>
						<th scope="col">Telefono</th>
						<th scope="col">Paquete</th>
						<th scope="col">Fecha de pago</th>
						<th scope="col">Ultimo pago</th>
						<th scope="col">Acciones</th>
						<th scope="col">Pagos</th>
					</tr>
				</thead>
				<tbody id="tablaClientes">

				</tbody>
			</table>
			<div class="container text-center">
				<span class="result-registros" id="result-registros">No se econtraron registros</span>
			</div>
			<ul class="pagination" id="paginacion">
			</ul>
		</div>

	</main>

	<!-- MODAL REGISTRAR CLIENTE -->
	<div th:replace="~{fragments/clientes/registro-cliente :: modal-registrar-cliente}"></div>

	<!-- MODAL COSULTAR CLIENTE -->
	<div th:replace="~{fragments/clientes/consultar-cliente :: modal-consultar-cliente}"></div>


	<!--MODAL PARA EDITAR CLIENTE -->

	<div th:replace="~{fragments/clientes/editar-cliente :: modal-editar-cliente}"></div>

	<!-- MODAL PARA ELIMINAR CLIENTE  -->
	<div th:replace="~{fragments/clientes/eliminar-cliente :: modal-eliminar-cliente}"></div>

	<!-- MODAL PARA AGREGAR COLONIA  -->
	<div th:replace="~{fragments/clientes/registro-colonia :: modal-registrar-colonia}"></div>

	<!-- MODAL PARA ELIMINAR CLIENTE  -->
	<div th:replace="~{fragments/clientes/registro-colonia :: modal-registrar-colonia}"></div>

	<!-- MODAL PARA CONFIRMAR PAGO  -->
	<div class="modal fade" id="modal-confirmar-pago" tabindex="-1" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmar Pago</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form hx-post="/clientes/realizar-pago" hx-target="#result-msg" hx-swap="innerHTML">
						<p class="fw-bold">Cliente: <span class="no-bold" id="clientePago">Omar Herrera Santos</span>
						</p>
						<p class="fw-bold">Pago: $<span class="no-bold" id="paquetePago">198.0</span></p>
						<p style="display: none;" id="abonoCliente" class="fw-bold">Abono: -$<span class="no-bold" id="cantidadAbono">0</span></p>
						<p class="fw-bold">Total pago: $<span class="no-bold" id="totalPago">198.0</span></p>
						
						<input hidden id="clienteId" name="clienteId">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<p class="fw-bold">Tipo de pago:</p>
									<select name="tipoPago" class="form-control">
										<option selected value="1">EFECTIVO</option>
										<option value="2">TRANSFERENCIA</option>
									</select>
								</div>
							</div>
						</div>
						<br>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-success" data-bs-dismiss="modal"
								id="confirmarEliminar">Confirmar</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<!-- MODAL PARA CONFIRMAR PAGO -->

	<div th:replace="~{fragments/layout :: scripts}"></div>
	<script th:src="@{/js/clientes/clientes.js}"></script>
	<script th:src="@{/select2/js/select2.min.js}"></script>
</body>

</html>