<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body class="login-page">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="titulo-login">
					<h2 class="text-center mt-2">Login</h2>
					<div class="text-center mb-2">Soluciones PC</div>
				</div>
				<div class="card my-3">

					<!--inicio sesion________________________-->

					<form class="card-body cardbody-color p-lg-5" method="post" th:action="@{/login}">

						<div class="text-center">
							<img src="img/user.png"
								class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3 img-user"
								alt="profile">
						</div>
						<div th:if="${param.error}">
							<div class="alert alert-danger">
								Usuario o contraseña inválidos
							</div>
						</div>
						<div class="mb-3">
							<input type="text" class="form-control" name="username" id="username"
								aria-describedby="emailHelp" placeholder="Username" required>
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" name="password" id="password"
								placeholder="password" required>
						</div>
						<div class="text-center"><button type="submit"
								class="btn btn-color px-5 mb-5 w-100">Login</button></div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>

</html>