<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div th:replace="~{fragments/layout :: nav}"></div>
    <main>
        <div class="container-lg d-flex mt-1 client-option">
            <di>
                <div>
                    
                    <h2>Pagos</h2>
                    <br>
                    <span>Buscar: </span><input type="text" id="filtroNombre" placeholder="Filtrar por nombre">
                    <span>Fecha</span>
                    <input type="date"> a <input type="date">
                </div>
                <br>
                <div>
                    Número de registros
                    <select onchange="numRegistros();" name="" id="num-registros">
                        <option selected value="2">2</option>
                        <option selected value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </di>
            <div>
                <button onclick="mostrarModal(0,'unidad')" type="button" class="btn btn-success">
                    Generar Reporte
                </button>
                <button data-bs-toggle="modal" data-bs-target="#modal-agregar-cliente" type="button"
                    class="btn btn-success">
                    Registrar
                </button>
            </div>
        </div>
        <br>
        <div class="container">

            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Num. Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Recibo</th>
                    </tr>
                </thead>
                <tbody id="tablaUbicaciones">
                    <tr>
                        <th>43244</th>
                        <td>Joshua Trinidad Bautista</td>
                        <td>12/02/2023</td>
                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#modal-agregar-cliente" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                                  </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container text-center">
                <span class="result-registros" id="result-registros">No se econtraron registros</span>
            </div>
            <ul class="pagination" id="paginacion">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

    </main>

    <!-- MODAL REGISTRAR CLIENTE -->

    <div class="modal fade" id="modal-agregar-cliente" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formRegistrarUbicacion" action="#">

                        <div class="row">
							<div class="col-6">
								<label for="nombreCliente">Nombre: </label>
								<input id="nombreCliente" name="nombre" class="form-control" required>
							</div>

							<div class="col-6">
								<label for="apellidoPaterno">Apellido Paterno: </label>
								<input id="apellidoPaterno" name="apellidoPaterno" class="form-control" required>
							</div>
						</div>
                        <div class="row">
							<div class="col-6">
								<label for="apellidoMaterno">Apellido Materno: </label>
								<input id="apellidoMaterno" name="apellidoMaterno" class="form-control" required>
							</div>

							<div class="col-6">
								<label for="rfc">RFC: </label>
								<input id="rfc" name="rfc" class="form-control" required>
							</div>
						</div>
                        <div class="row">
							<div class="col-6">
								<label for="numCliente">Num. Cliente: </label>
								<input id="numCliente" name="numCliente" class="form-control" required>
							</div>

							<div class="col-6">
								<label for="telefono">Telefono: </label>
								<input id="telefono" name="telefono" class="form-control" required>
							</div>
						</div>
                        <div class="row">
                            
							<div class="col-6">
								<label for="colonia">Colonia: </label>
								<input id="colonia" name="colonia" class="form-control" required>
							</div>
							<div class="col-6">
								<label for="pauqete">Paquete de Internet: </label>
								<Select id="paquete" name="paquete" class="form-control">
                                    <option value="1">Paquete 1</option>
                                    <option value="2">Paquete 2</option>
                                    <option value="3">Paquete 3</option>
                                    <option value="4">Paquete 4</option>
                                    <option value="5">Paquete 5</option>
                                </Select>
							</div>
						</div>
                        <div class="row">
							<div class="col-12">
								<label for="colonia">Observaciones: </label>
                                <textarea id="editarDescripcion" class="form-control" rows="3" required></textarea>
							</div>
						</div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--FIN MODAL REGISTRAR CLIENTE -->

    <!-- MODAL PARA CONFIRMAR PAGO  -->
    <div class="modal fade" id="modal-confirmar-pago" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Confirmar pago?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="confirmarEliminar">Confirmar</button>
            </div>
        </div>
    </div>
</div>
    <!-- MODAL PARA CONFIRMAR PAGO -->
</body>

</html>