<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<div th:replace="~{fragments/layout :: estilos}"></div>
</head>

<body>
	<div th:replace="~{fragments/layout :: nav}"></div>
	<input id="idUser" value="0" name="id" hidden>

	<button id="botonid" hidden data-bs-toggle="modal" data-bs-target="#modal-editar-usuario"
		hx-get="/usuarios/get-form-editar" hx-target="#form-editar-usuario" hx-swap="innerHTML"
		hx-include="[name='id']">
		X
	</button>
	<div id="result-msg"></div>
	<main>
		<div class="container-lg d-flex mt-1 client-option">
			<div>
				<h2>Usuarios</h2>
				<br>
				<div class="row">
					<div class="col-6 d-flex align-items-center">
						<span class="mr-2">Buscar: </span><input class="form-control" type="text" id="filtroNombre"
							placeholder="Filtrar por nombre">
					</div>

					<div class="col-6">
						Número de registros
						<select onchange="numRegistros();" name="" id="num-registros">
							<option selected value="2">2</option>
							<option selected value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
						</select>
					</div>
				</div>


			</div>
			<div>
				<button data-bs-toggle="modal" data-bs-target="#modal-agregar-usuario" type="button"
					class="btn btn-success" hx-get="/usuarios/get-form-registrar" hx-target="#form-registrar-usuario"
					hx-swap="innerHTML">
					Registrar
				</button>
			</div>
		</div>
		<br>
		<div class="container">

			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col">Nombre Completo</th>
						<th scope="col">Username</th>
						<th scope="col">Rol</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody id="tablaUsuarios">

				</tbody>
			</table>
			<div class="container text-center">
				<span class="result-registros" id="result-registros">No se econtraron registros</span>
			</div>
			<ul class="pagination" id="paginacion"></ul>
		</div>

	</main>

	<!-- MODAL REGISTRAR USUARIO -->
	<div th:replace="~{fragments/usuarios/registro-usuario :: modal-agregar-usuario}"></div>
	<!-- MODAL EDITAR USUARIO -->
	<div th:replace="~{fragments/usuarios/editar-usuario :: modal-editar-usuario}"></div>

</body>

<div th:replace="~{fragments/layout :: scripts}"></div>
<script th:src="@{/js/usuarios/usuarios.js}"></script>

</html>