.custom-column {
    width: 100% !important;/* o el porcentaje deseado */
    height: 5rem;
    margin-bottom: .5rem;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 15px;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
}

.client-info{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem !important;
}

.filtro-anios{
	display: flex;
	justify-content: center;
	align-items: center;
}

.filtro-anios label{
	margin-right: 1rem;
	margin-left: 1rem;
}
.filtro-anios input{
	width: 6rem;
}

.meses-abonos{
	flex-wrap: wrap;
	align-content: flex-end;
}