.navbar {
	background-color: #419BCE !important;
}

/* TITULOS */
.navbar-collapse {
	justify-content: space-between;
}

.navbar-brand {
	font-size: 2rem;
	color: white !important;
}

.navbar-nav a {
	font-weight: 200;
	color: white !important;
	font-size: 1.5rem;
}

.user {
	padding: 1rem;
	margin-right: 5rem;
}

.user img:hover {
	cursor: pointer;
}

.user img {
	width: 3rem;
}

.client-option {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem !important;
}

.user-option {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem !important;
}

/* LOGIN */
.titulo-login {
	color: white !important;
}

.login-page {
	background-color: #419BCE;
}

.btn-color {
	background-color: #419BCE;
	color: #fff;

}

.profile-image-pic {
	height: 200px;
	width: 200px;
	object-fit: cover;
}



.cardbody-color {
	background-color: #ebf2fa;
}

a {
	text-decoration: none;
}

.fechas {
	background-color: white;
	color: black;
	border: none;
	text-align: center;
}

.filtro {
	width: 35rem;
}

.filtro-pagos {
	display: flex;

}

.input-date {
	width: 9rem;
	height: 2.5rem;
}

.filtro-fecha {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-end;
	gap: 5px;

}

.no-bold {
	font-weight: 200;
}

.total-meses {
	display: flex !important;
	align-content: center;
	justify-content: flex-end;
}

.meses-pagar {
	font-size: 1.2rem;
}

.select-colonia {
	display: block;
	width: 100% !important;
	padding: .375rem .75rem !important;
	height: 50% !important;
}

.select2-container--default .select2-selection--single {
	padding: 1.1rem;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.filtros {
	display: flex;
}

.filtro-colonia {
	display: flex;
	flex-direction: column;
}

.mayuscula {
	text-transform: uppercase;
}

.borde-estado{
	border: .2px solid black;
	border-radius: 50%;
}

.custom-modal-dialog {
  max-width: 600px !important;
}

.hoja-actual {
    display: flex !important;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.elementos-hojas{
	padding-top: 15px;
}