<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Soluciones PC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Clientes</a>
                <a class="nav-link" href="/pagos">Pagos</a>
                <a class="nav-link" href="/usuarios">Usuarios</a>
            </div>
            <div class="user btn-group">
                <img src="/img/user.png" alt=""  data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu">
                    <li><div class="dropdown-item disabled" >Coordinador</div></li>
                    <li><div class="dropdown-item disabled">Usuario</div></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="logout" ><a class="dropdown-item logout" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

</body>
</html>