<div th:fragment="modal-editar-usuario" class="modal fade" id="modal-editar-usuario" data-bs-backdrop="static" data-bs-keyboard= "false" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Usuario</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="form-editar-usuario">

			</div>
		</div>
	</div>
</div>

<div th:fragment="editar-usuario-form">
	<form hx-post="/usuarios/editar" hx-target="#result-msg" hx-swap="innerHTML">
		<input hidden name="idUsuario" th:value="${user.idUsuario}">
		<div class="row">
			<div class="col-6">
				<label for="apellidoPaterno">Nombre Completo: </label>
				<input oninput="validarYConvertirMayusculas(this)" th:value="${user.nombre}"  name="nombre" class="form-control" maxlength="60" required>
			</div>
			<div class="col-6">
				<label for="nombreCliente">Username: </label>
				<input oninput="validarCaracteres(this)" th:value="${user.username}" name="username" class="form-control" maxlength="55" required>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label for="password">password: </label>
				<input id="password" name="password" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label for="rol">Rol: </label>
				<Select  name="idRol" class="form-control" required>
					<option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.rol}"
						th:selected="${rol.idRol == user.rol.idRol}"></option>
				</Select>
			</div>
			<div class="col-6">
				<label for="estado">Estado: </label>
				<Select th:value="${user.estado}" id="estado" name="estado" class="form-control">
					<option th:value="true" th:selected="${user.estado}">Activo</option>
					<option th:value="false" th:selected="${!user.estado}">Inactivo</option>
				</Select>
			</div>

		</div>
		<br>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
			<button type="submit" class="btn btn-success">Guardar</button>
		</div>
	</form>
</div>