<div th:fragment="modal-agregar-usuario" class="modal fade" id="modal-agregar-usuario" data-bs-backdrop="static" data-bs-keyboard= "false" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agregar Usuario</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="form-registrar-usuario">
				<div th:fragment="registrar-usuario-form">
					<form hx-post="/usuarios/registrar" hx-target="#result-msg" hx-swap="innerHTML">
						<div class="row">
							<div class="col-6" th:fragment="username" hx-target="this" hx-swap="outerHTML">
								<label for="nombreCliente">Username: </label>
								<input oninput="validarCaracteres(this)" id="nombreCliente" name="username" class="form-control"  maxlength="45" required
								hx-post="/usuarios/validarUsername"
									th:classappend="${valid == null} ? '' : (${valid} ? 'is-valid' : 'is-invalid')"
									th:value="${value} ?: ''"

								>
								<div class="invalid-feedback" th:text="${correoMsg} ?: ''"></div>
							</div>
							<div class="col-6">
								<label for="apellidoPaterno">Nombre Completo: </label>
								<input oninput="validarYConvertirMayusculas(this)" type="text" id="apellidoPaterno" name="nombre" class="form-control" maxlength="60" required>
							</div>
						</div>
						<div class="row">

							<div class="col-6">
								<label for="Password">Password: </label>
								<div class="input-group">
									<input id="Password" name="password" class="form-control" type="password" required style="margin-right: 15px;">
									<svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" onclick="togglePassword('Password', 'eye-icon')">
										<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
										<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
									</svg>
								</div>
							</div>

							<div class="col-6">
								<label for="confirmarPassword">Confirmar Password: </label>
								<div class="input-group">
									<input id="confirmarPassword" name="confirmarPassword" class="form-control" type="password" required oninput="comparePasswords()"  style="margin-right: 15px;">
									<svg id="confirm-eye-icon" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" onclick="togglePassword('confirmarPassword', 'confirm-eye-icon')">
										<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
										<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
									</svg>
								</div>
								<p id="passwordMatchMessage" style="color: red;"></p>
							</div>

							<div class="col-6">
								<label for="rol">Rol: </label>
								<Select id="rol" name="idRol" class="form-control">
									<option value="1">Administrador</option>
									<option value="2">Caja</option>
								</Select>
							</div>
						</div>
						<div class="row">

						</div>
						<br>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-success" id="guardarButton" disabled>Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>