<div th:fragment="modal-agregar-usuario" class="modal fade" id="modal-agregar-usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agregar Usuario</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="form-registrar-usuario">
				<div th:fragment="registrar-usuario-form">
					<form hx-post="/usuarios/registrar" hx-target="#result-msg" hx-swap="innerHTML">
						<div class="row">
							<div class="col-6">
								<label for="nombreCliente">Username: </label>
								<input id="nombreCliente" name="username" class="form-control" required>
							</div>

							<div class="col-6">
								<label for="apellidoPaterno">Nombre Completo: </label>
								<input id="apellidoPaterno" name="nombre" class="form-control" required>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="apellidoMaterno">Password: </label>
								<input id="apellidoMaterno" name="password" class="form-control" required>
							</div>

							<div class="col-6">
								<label for="password">Repetir password: </label>
								<input id="password" class="form-control" required>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<label for="rol">Rol: </label>
								<Select id="rol" name="idRol" class="form-control">
									<option value="1">Administrador general</option>
									<option value="2">Administrador</option>
								</Select>
							</div>
						</div>
						<br>

						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>